.container {
    background-image: url("Images/87440625-food-frame-with-set-of-japanese-food-on-dark-background-sushi-rolls-nigiri-raw-salmon-steak-rice-and.jpg");
    height: 100vh;
    /* width: 100%; */
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
}

.jumbotron {
    align-items: center;
 }
 
.btn-primary {
    background-color: blue !important;
}

.btn-secondary {
    background-color: red !important;
}