.container-fluid {
    background-image: url("Images/87440625-food-frame-with-set-of-japanese-food-on-dark-background-sushi-rolls-nigiri-raw-salmon-steak-rice-and.jpg");
height: 100vh;
background-repeat: no-repeat;
background-size: cover;

}

.jumbotron {
    align-items: center;
    margin-top: 150px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
 }
 
.btn-primary {
    background-color: blue !important;
    margin-bottom: 10px;
}

.btn-secondary {
    background-color: red !important;
}